[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-crispy-forms = "*"
opencv-contrib-python = "*"
opencv-python = "*"
django-debug-toolbar = "*"
djangorestframework = "*"
django-google-translate = "*"

[dev-packages]

[requires]
python_version = "3.9"
